{% extends "user_base.html" %} {% block title %}TextAnalizer{% endblock %} {%
block content %}
<!-- Hero Section -->
<section id="home" class="hero section dark-background">
  <div class="container">
    <div class="row gy-4">
      <div
        class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
        data-aos="zoom-out"
      >
        <h1>Text Analysis Process</h1>
        <p>
          THE TEXT CLEANUP ANALYSIS PROCESS INVOLVES GETTING RID OF ANY UNWANTED
          INFORMATION FROM THE COMPILED TEXTUAL DATA.
        </p>
        <p>
          TOKENIZATION PROCESS INVOLVES SPLITTING THE TEXT INTO WHITE SPACES.
        </p>
        <div class="d-flex">
          <a href="/" class="btn-get-started">Get Started</a>
        </div>
      </div>
      <div
        class="col-lg-6 order-1 order-lg-2 hero-img"
        data-aos="zoom-out"
        data-aos-delay="200"
      >
        <img
          src="{{url_for('user.static', filename='assets/img/hero-img.png')}}"
          class="img-fluid animated"
          alt=""
        />
    </div>
  </div>
</section>
<!-- /Hero Section -->

{% endblock %} {% block jsContent %}
<script src="{{ url_for('user.static', filename='assets/js/main.js') }}"></script>
{% endblock %}
